
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-2-7gw {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.macbook-pro-14-2-7gw .auto-group-vebd-pLT {
  margin-bottom: 16.9rem;
  width: 154.4rem;
  height: 12.6rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-vebd-pLT .rectangle-5-v8b {
  width: 151.2rem;
  height: 11rem;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(0.32rem);
  background-color: rgba(246, 246, 246, 0.1899999976);
  border-radius: 1rem;
}
.macbook-pro-14-2-7gw .auto-group-vebd-pLT .rectangle-13-2Bd {
  width: 151.2rem;
  height: 11rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  backdrop-filter: blur(0.32rem);
  background-color: rgba(246, 246, 246, 0.1899999976);
  border-radius: 1rem;
}
.macbook-pro-14-2-7gw .auto-group-vebd-pLT .bour-la-forme-w3h {
  width: 28rem;
  height: 4.9rem;
  position: absolute;
  left: 6.3rem;
  top: 3.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #de0d6f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-7gw .auto-group-vebd-pLT .contact-us-Qxs {
  width: 16.9rem;
  height: 3.9rem;
  position: absolute;
  left: 102.2rem;
  top: 3.4rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #de0d6f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-7gw .auto-group-vebd-pLT .sign-up-vRR {
  width: 11.7rem;
  height: 3.9rem;
  position: absolute;
  left: 88.8rem;
  top: 3.4rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #de0d6f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-7gw .auto-group-vebd-pLT .about-us-S8s {
  width: 14rem;
  height: 3.9rem;
  position: absolute;
  left: 121.2rem;
  top: 3.4rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #de0d6f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-7gw .welcome-back--jNs {
  margin-right: 4.1rem;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #de0d6f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-kvx1-f1d {
  box-sizing: border-box;
  padding: 20.8rem 1.03rem 33.3rem 1.03rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-kvx1-f1d .auto-group-fvcf-NRq {
  margin: 0rem 2.17rem 14.5rem 0rem;
  width: calc(100% - 2.1699rem);
  height: 57.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-kvx1-f1d .auto-group-fvcf-NRq .undrawmedicineb-1-ol-1-66w {
  margin: 0rem 7.001rem 0.1rem 0rem;
  width: 69.1693rem;
  height: 52.9004rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-kvx1-f1d .auto-group-fvcf-NRq .auto-group-l8m1-zi7 {
  box-sizing: border-box;
  padding: 4.3rem 5rem 3.9rem 7rem;
  width: 70.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 215, 215, 0.2300000042);
  border-radius: 1rem;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-kvx1-f1d .auto-group-fvcf-NRq .auto-group-l8m1-zi7 .login-hsR {
  margin: 0rem 5.4rem 5.1rem 0rem;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #de0d6f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-kvx1-f1d .auto-group-fvcf-NRq .auto-group-l8m1-zi7 .auto-group-sf4w-ph9 {
  margin: 0rem 2.1rem 6.8rem 0rem;
  box-sizing: border-box;
  padding: 1.9rem 4.8rem 2.6rem 4.8rem;
  width: 56.3rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #9d9393;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-kvx1-f1d .auto-group-fvcf-NRq .auto-group-l8m1-zi7 .auto-group-9bph-57H {
  margin: 0rem 2.3rem 5rem 0rem;
  box-sizing: border-box;
  padding: 3.1rem 5rem;
  width: 56.5rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #9d9494;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-kvx1-f1d .auto-group-fvcf-NRq .auto-group-l8m1-zi7 .auto-group-aknp-MKh {
  margin-left: 36rem;
  width: 22.8rem;
  height: 4.8rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #f5e8c7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #de0d6f;
  border-radius: 2.9rem;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-kvx1-f1d .auto-group-mmhv-Q35 {
  margin: 0rem 36.37rem 0rem 32.37rem;
  width: calc(100% - 68.7399rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-kvx1-f1d .auto-group-mmhv-Q35 .dont-have-an-account-yet--8Us {
  margin: 0.4rem 5.3rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #9d9494;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-kvx1-f1d .auto-group-mmhv-Q35 .auto-group-qhlf-dgX {
  box-sizing: border-box;
  padding: 0rem 4.7rem 0rem 6.4rem;
  height: 4.8rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #f5e8c7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #de0d6f;
  border-radius: 2.9rem;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-wdjh-ihy {
  width: 100%;
  height: 28.1rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-14-2-7gw .auto-group-wdjh-ihy .mon-stage-52j {
  width: 21rem;
  height: 4.9rem;
  position: absolute;
  left: 21.9rem;
  top: 14.1rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-7gw .auto-group-wdjh-ihy .rectangle-11-mAT {
  width: 151.2rem;
  height: 28.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f6f6f6;
}
.macbook-pro-14-2-7gw .auto-group-wdjh-ihy .item--7EK {
  width: 33.9rem;
  height: 5.9rem;
  position: absolute;
  left: 4.8rem;
  top: 7rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #de0d6f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-7gw .auto-group-wdjh-ihy .item--CFm {
  width: 33.9rem;
  height: 5.9rem;
  position: absolute;
  left: 4.8rem;
  top: 7rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #de0d6f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-7gw .auto-group-wdjh-ihy .copyright-2024-t8b {
  width: 27.9rem;
  height: 3.9rem;
  position: absolute;
  left: 5.4rem;
  top: 15rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #de0d6f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-2-7gw .auto-group-wdjh-ihy .image-1-a1R {
  width: 8rem;
  height: 7.8rem;
  position: absolute;
  left: 101.6rem;
  top: 9.8rem;
  object-fit: cover;
  vertical-align: top;
}
.macbook-pro-14-2-7gw .auto-group-wdjh-ihy .image-2-6kT {
  width: 7.6rem;
  height: 7.8rem;
  position: absolute;
  left: 112.6rem;
  top: 9.8rem;
  object-fit: cover;
  vertical-align: top;
}
.macbook-pro-14-2-7gw .auto-group-wdjh-ihy .image-3-2PD {
  width: 7.6rem;
  height: 7rem;
  position: absolute;
  left: 123.2rem;
  top: 10.6rem;
  object-fit: cover;
  vertical-align: top;
}
