
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-3-uqV {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  box-sizing: border-box;
  padding-top: 1.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-sp23-cE7 {
    padding: 2rem 11.6rem 2rem 10.7rem;
    height: 11rem;
    align-items: center;
    backdrop-filter: blur(0.32rem);
    background-color: rgba(246, 246, 246, 0.1899999976);
    margin: 0rem 4.4rem 26.3rem 0rem;
    box-sizing: border-box;
    width: calc(100% - 4.4rem);
    display: flex;
    border-radius: 1rem;
    flex-shrink: 0;

    .bour-la-forme-gUs {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 53.5rem 2.1rem 0rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #de0d6f;
      font-family: Inter, 'Source Sans Pro';
    }
    .login-n27 {
      line-height: 1.2125;
      color: #de0d6f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 4.8rem 3.1rem 0rem;
      font-size: 3.2rem;
      font-weight: 600;
    }
    .contact-us-hes {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.1rem 3.1rem 0rem;
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #de0d6f;
    }
    .about-us-2SF {
      color: #de0d6f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 3.1rem;
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 1.2125;
    }
  }
  .auto-group-1p7m-vnX {
    padding-bottom: 11.5rem;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2300000042);
    border-radius: 5.7rem;
    margin: 0rem 28rem 17rem 34.1rem;
    box-sizing: border-box;
    width: calc(100% - 62.1rem);
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;

    .sign-up-2af {
      font-size: 5.5rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 10rem 4.7rem 0rem;
    }
    .auto-group-xdab-jzs {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 4rem 4rem 0rem;
      width: calc(100% - 4rem);
      height: 6.2rem;
      display: flex;

      .auto-group-ta4j-rZh {
        font-weight: 400;
        padding: 1.7rem 3.1rem 2rem 3.1rem;
        font-size: 2rem;
        background-color: #d9d9d9;
        margin-right: 11.5rem;
        height: 100%;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        line-height: 1.2125;
        color: #9d9393;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 37.1rem;
      }
      .auto-group-uktr-VMm {
        box-sizing: border-box;
        font-weight: 400;
        flex-shrink: 0;
        color: #9d9494;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        padding: 1.7rem 2.5rem 2rem 2.5rem;
        width: 36.5rem;
        height: 100%;
        font-size: 2rem;
        line-height: 1.2125;
        background-color: #d9d9d9;
        border-radius: 1rem;
      }
    }
    .auto-group-nfby-NRZ {
      width: 85.1rem;
      font-size: 2rem;
      line-height: 1.2125;
      color: #9d9393;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #d9d9d9;
      box-sizing: border-box;
      flex-shrink: 0;
      border-radius: 1rem;
      padding: 1.4rem 4rem 2.3rem 4rem;
      font-weight: 400;
      margin: 0rem 4rem 4.1rem 0rem;
    }
    .auto-group-nzzz-3Go {
      flex-shrink: 0;
      padding: 1.3rem 5.3rem 2.3rem 4rem;
      width: calc(100% - 4rem);
      display: flex;
      background-color: #d9d9d9;
      border-radius: 1rem;
      margin: 0rem 4rem 4.1rem 0rem;
      box-sizing: border-box;
      align-items: center;

      .password-jvK {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #9d9393;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 61.2rem;
      }
      .show-UN7 {
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #9d9393;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-oj1m-CZ1 {
      padding: 1.3rem 5.1rem 2.4rem 4.4rem;
      width: calc(100% - 4rem);
      display: flex;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 4rem 6.8rem 0rem;
      box-sizing: border-box;
      align-items: center;
      background-color: #d9d9d9;

      .confirm-password-JM9 {
        line-height: 1.2125;
        color: #9d9393;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 53rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .show-Ekb {
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #9d9393;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-g4pk-NM1 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #de0d6f;
      box-sizing: border-box;
      height: 7.6rem;
      font-size: 4.8rem;
      font-weight: 600;
      line-height: 1.2125;
      flex-shrink: 0;
      margin-right: 4rem;
      padding: 0rem 32rem 0rem 32.2rem;
      color: #f5e8c7;
      border-radius: 2.9rem;
    }
  }
  .auto-group-khsb-d23 {
    height: 5.7rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 38.8rem 33.9rem 35.8rem;
    width: calc(100% - 74.6rem);

    .already-have-an-account--9FH {
      font-weight: 400;
      line-height: 1.2125;
      color: #9d9494;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4rem;
      font-size: 4rem;
    }
    .auto-group-fovk-UYT {
      height: 100%;
      font-size: 3.2rem;
      color: #f5e8c7;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      background-color: #de0d6f;
      border-radius: 2.9rem;
      font-weight: 600;
      line-height: 1.2125;
      white-space: nowrap;
      justify-content: center;
      flex-shrink: 0;
      width: 22.8rem;
      align-items: center;
    }
  }
  .auto-group-1lvf-NNw {
    margin-right: 2.2rem;
    width: calc(100% - 2.2rem);
    height: 28.1rem;
    position: relative;
    flex-shrink: 0;

    .mon-stage-J1h {
      top: 11.7rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 21rem;
      height: 4.9rem;
      position: absolute;
      left: 21.9rem;
      font-size: 4rem;
    }
    .rectangle-11-c2P {
      height: 28.1rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #f6f6f6;
      width: 151.2rem;
    }
    .item--x6F {
      font-family: Inter, 'Source Sans Pro';
      top: 7.1rem;
      font-size: 4.8rem;
      position: absolute;
      left: 6.3rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #de0d6f;
      white-space: nowrap;
      width: 33.9rem;
      height: 5.9rem;
    }
    .image-3-Dns {
      position: absolute;
      left: 123.2rem;
      top: 8.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 7.6rem;
      height: 7rem;
    }
    .image-2-xEf {
      height: 7.8rem;
      position: absolute;
      left: 112.6rem;
      top: 7.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 7.6rem;
    }
    .image-1-5aB {
      object-fit: cover;
      vertical-align: top;
      width: 8rem;
      height: 7.8rem;
      position: absolute;
      left: 101.6rem;
      top: 7.4rem;
    }
    .copyright-2024-pXm {
      line-height: 1.2125;
      color: #de0d6f;
      width: 27.9rem;
      height: 3.9rem;
      font-size: 3.2rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 6.4rem;
      top: 15.2rem;
    }
  }
}
