
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 146.3rem;
}.macbook-pro-14-1-NSo {
  box-sizing: border-box;
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 5.8rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-rdmm-A7m {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    backdrop-filter: blur(0.32rem);
    background-color: rgba(246, 246, 246, 0.9300000072);
    border-radius: 1rem;
    flex-shrink: 0;
    padding: 2.45rem 12.9rem 3.65rem 8.7rem;
    align-items: center;

    .bourla-forme-9to {
      color: #de0d6f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 38rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .login-signup-DNs {
      color: #de0d6f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.5rem 1rem 0rem;
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 1.2125;
    }
    .contact-us-vYB {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.8rem 1rem 0rem;
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #de0d6f;
    }
    .about-us-qf9 {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1rem;
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #de0d6f;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-okyb-KKR {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.95rem 0rem 0rem 4.8rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-ctrb-HfZ {
      margin: 0rem 19.3rem 9.95rem 8.2rem;
      width: calc(100% - 27.5rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-bb1u-yYP {
        margin-right: 8.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .welcome-vTd {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 11.7rem 6.6rem 0rem;
          font-size: 6.4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #de0d6f;
        }
        .this-website-is-concerned-for-your-health-its-an-ai-supported-website-to-detect-your-discomfortand-help-students-manage-their-time-2mZ {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 74.1rem;
          font-size: 3rem;
          font-weight: 200;
        }
      }
      .heart-1-UtT {
        margin-top: 7.25rem;
        width: 31.2rem;
        height: 30.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .frame-1-zM1 {
      background-color: #de0d6f;
      width: calc(100% - 120.5rem);
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      flex-shrink: 0;
      color: #f6f6f6;
      margin: 0rem 73.7rem 15.1rem 46.8rem;
      height: 5.6rem;
      font-size: 3rem;
      font-weight: 700;
      border-radius: 1.8rem;
      line-height: 1.2125;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }
    .auto-group-mu11-Aeo {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 9.7rem 8.45rem 11.1rem;
      width: calc(100% - 20.8rem);
      height: 66.1rem;
      display: flex;

      .undrawmedicalcaremovn-1-gNF {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 5.9rem 7.6rem 0rem 0rem;
        width: 54.7rem;
        height: 39.7rem;
        position: relative;
      }
      .auto-group-q5mv-nAP {
        border-radius: 1rem;
        box-sizing: border-box;
        width: 58.4rem;
        height: 100%;
        align-items: center;
        flex-shrink: 0;
        padding: 6.1rem 6.6rem 15.4rem 11.6rem;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #435585;

        .contact-gmZ {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 12.4rem 6.35rem 0rem;
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #de0d6f;
          font-family: Inter, 'Source Sans Pro';
        }
        .auto-group-bxap-p75 {
          margin: 0rem 0rem 3.65rem 0.4rem;
          width: calc(100% - 0.4rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .nom-whV {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 6.4rem 0.1rem 0rem;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #de0d6f;
          }
          .rectangle-7-Lt3 {
            height: 4.8rem;
            background-color: #d9d9d9;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 28rem;
          }
        }
        .auto-group-4hsz-ssy {
          margin: 0rem 0rem 4.5rem 0.4rem;
          width: calc(100% - 0.4rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .email-Qsu {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.6rem 5.5rem 0rem 0rem;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #de0d6f;
            font-family: Inter, 'Source Sans Pro';
          }
          .rectangle-8-Kzs {
            height: 4.8rem;
            background-color: #d9d9d9;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 28rem;
          }
        }
        .auto-group-h363-U75 {
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 0.2rem 6.9rem 0rem;
          width: calc(100% - 0.2rem);
          display: flex;

          .message-oQF {
            flex-shrink: 0;
            margin-right: 1.4rem;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #de0d6f;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-9-L9H {
            width: 28rem;
            height: 4.8rem;
            background-color: #d9d9d9;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
          }
        }
        .auto-group-cz1h-bL7 {
          border-radius: 2.9rem;
          flex-shrink: 0;
          margin-left: 14.6rem;
          font-weight: 600;
          justify-content: center;
          background-color: #de0d6f;
          display: flex;
          width: 22.8rem;
          height: 4.8rem;
          font-size: 3.2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          color: #f5e8c7;
          align-items: center;
        }
      }
    }
    .auto-group-agsu-2gK {
      width: 152.7rem;
      height: 28.1rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-14-mP1 {
        height: 28.1rem;
        position: absolute;
        left: 1.5rem;
        top: 0;
        background-color: #f6f6f6;
        width: 151.2rem;
      }
      .image-3-gks {
        left: 118.4rem;
        top: 10.1rem;
        object-fit: cover;
        vertical-align: top;
        width: 7.6rem;
        height: 7rem;
        position: absolute;
      }
      .image-2-oKh {
        position: absolute;
        left: 107.8rem;
        top: 9.3rem;
        object-fit: cover;
        vertical-align: top;
        width: 7.6rem;
        height: 7.8rem;
      }
      .image-1-L4j {
        object-fit: cover;
        vertical-align: top;
        width: 8rem;
        height: 7.8rem;
        position: absolute;
        left: 96.8rem;
        top: 9.3rem;
      }
      .copyright-2024-g8b {
        color: #de0d6f;
        font-family: Inter, 'Source Sans Pro';
        width: 27.9rem;
        left: 0.6rem;
        font-weight: 700;
        line-height: 1.2125;
        white-space: nowrap;
        height: 3.9rem;
        position: absolute;
        top: 14.5rem;
        font-size: 3.2rem;
      }
      .item--YRh {
        top: 6.5rem;
        font-weight: 600;
        color: #de0d6f;
        white-space: nowrap;
        width: 33.9rem;
        height: 5.9rem;
        font-size: 4.8rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        left: 0;
      }
    }
  }
}
