
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-2-7gw {
  flex-direction: column;
  background-color: #f6f6f6;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-vebd-pLT {
    margin-bottom: 16.9rem;
    width: 154.4rem;
    height: 12.6rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-5-v8b {
      left: 0;
      top: 0;
      backdrop-filter: blur(0.32rem);
      background-color: rgba(246, 246, 246, 0.1899999976);
      border-radius: 1rem;
      width: 151.2rem;
      height: 11rem;
      position: absolute;
    }
    .rectangle-13-2Bd {
      border-radius: 1rem;
      width: 151.2rem;
      height: 11rem;
      position: absolute;
      left: 0;
      top: 0.3rem;
      backdrop-filter: blur(0.32rem);
      background-color: rgba(246, 246, 246, 0.1899999976);
    }
    .bour-la-forme-w3h {
      line-height: 1.2125;
      color: #de0d6f;
      font-family: Inter, 'Source Sans Pro';
      height: 4.9rem;
      left: 6.3rem;
      top: 3.4rem;
      font-weight: 700;
      white-space: nowrap;
      width: 28rem;
      position: absolute;
      font-size: 4rem;
    }
    .contact-us-Qxs {
      width: 16.9rem;
      position: absolute;
      left: 102.2rem;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      color: #de0d6f;
      white-space: nowrap;
      height: 3.9rem;
      top: 3.4rem;
      font-size: 3.2rem;
      font-weight: 600;
    }
    .sign-up-vRR {
      font-size: 3.2rem;
      width: 11.7rem;
      height: 3.9rem;
      left: 88.8rem;
      top: 3.4rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      font-weight: 600;
      line-height: 1.2125;
      color: #de0d6f;
    }
    .about-us-S8s {
      line-height: 1.2125;
      width: 14rem;
      height: 3.9rem;
      font-weight: 600;
      font-size: 3.2rem;
      color: #de0d6f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 121.2rem;
      top: 3.4rem;
    }
  }
  .welcome-back--jNs {
    margin-right: 4.1rem;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #de0d6f;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-kvx1-f1d {
    box-sizing: border-box;
    padding: 20.8rem 1.03rem 33.3rem 1.03rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-fvcf-NRq {
      flex-shrink: 0;
      margin: 0rem 2.17rem 14.5rem 0rem;
      width: calc(100% - 2.1699rem);
      height: 57.2rem;
      display: flex;
      align-items: center;

      .undrawmedicineb-1-ol-1-66w {
        margin: 0rem 7.001rem 0.1rem 0rem;
        width: 69.1693rem;
        height: 52.9004rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-l8m1-zi7 {
        height: 100%;
        flex-direction: column;
        background-color: rgba(230, 215, 215, 0.2300000042);
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 4.3rem 5rem 3.9rem 7rem;
        display: flex;
        flex-shrink: 0;
        width: 70.8rem;
        align-items: center;

        .login-hsR {
          flex-shrink: 0;
          margin: 0rem 5.4rem 5.1rem 0rem;
          font-size: 6.4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #de0d6f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-sf4w-ph9 {
          margin: 0rem 2.1rem 6.8rem 0rem;
          padding: 1.9rem 4.8rem 2.6rem 4.8rem;
          font-family: Inter, 'Source Sans Pro';
          background-color: #d9d9d9;
          border-radius: 1rem;
          white-space: nowrap;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 56.3rem;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #9d9393;
        }
        .auto-group-9bph-57H {
          background-color: #d9d9d9;
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 56.5rem;
          font-weight: 400;
          white-space: nowrap;
          color: #9d9494;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 2.3rem 5rem 0rem;
          padding: 3.1rem 5rem;
          font-size: 3.2rem;
          line-height: 1.2125;
        }
        .auto-group-aknp-MKh {
          line-height: 1.2125;
          color: #f5e8c7;
          display: flex;
          align-items: center;
          background-color: #de0d6f;
          border-radius: 2.9rem;
          width: 22.8rem;
          font-weight: 600;
          margin-left: 36rem;
          white-space: nowrap;
          justify-content: center;
          height: 4.8rem;
          font-size: 3.2rem;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .auto-group-mmhv-Q35 {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 36.37rem 0rem 32.37rem;
      width: calc(100% - 68.7399rem);
      display: flex;

      .dont-have-an-account-yet--8Us {
        flex-shrink: 0;
        margin: 0.4rem 5.3rem 0rem 0rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #9d9494;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-qhlf-dgX {
        height: 4.8rem;
        font-size: 3.2rem;
        line-height: 1.2125;
        color: #f5e8c7;
        white-space: nowrap;
        padding: 0rem 4.7rem 0rem 6.4rem;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        background-color: #de0d6f;
        border-radius: 2.9rem;
        flex-shrink: 0;
        box-sizing: border-box;
      }
    }
  }
  .auto-group-wdjh-ihy {
    width: 100%;
    height: 28.1rem;
    position: relative;
    flex-shrink: 0;

    .mon-stage-52j {
      width: 21rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 4.9rem;
      position: absolute;
      left: 21.9rem;
      top: 14.1rem;
      font-size: 4rem;
      font-weight: 700;
      color: #ffffff;
    }
    .rectangle-11-mAT {
      width: 151.2rem;
      height: 28.1rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #f6f6f6;
    }
    .item--7EK {
      top: 7rem;
      width: 33.9rem;
      position: absolute;
      font-size: 4.8rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #de0d6f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 5.9rem;
      left: 4.8rem;
    }
    .item--CFm {
      top: 7rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #de0d6f;
      font-family: Inter, 'Source Sans Pro';
      height: 5.9rem;
      position: absolute;
      left: 4.8rem;
      font-size: 4.8rem;
      white-space: nowrap;
      width: 33.9rem;
    }
    .copyright-2024-t8b {
      line-height: 1.2125;
      width: 27.9rem;
      height: 3.9rem;
      left: 5.4rem;
      font-size: 3.2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 15rem;
      font-weight: 700;
      color: #de0d6f;
    }
    .image-1-a1R {
      height: 7.8rem;
      position: absolute;
      left: 101.6rem;
      top: 9.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 8rem;
    }
    .image-2-6kT {
      top: 9.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 7.6rem;
      height: 7.8rem;
      position: absolute;
      left: 112.6rem;
    }
    .image-3-2PD {
      height: 7rem;
      position: absolute;
      left: 123.2rem;
      top: 10.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 7.6rem;
    }
  }
}
